<app-encabezado titulo="login usuario"></app-encabezado>

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1>Formulario</h1>
  </ion-text>

  <ion-list>
    <form #formulario="ngForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label class="i-text-capitalize">Estado: Pendiente ⚠️</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="i-text-capitalize">Monto pagado: 13.000</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="i-text-capitalize">Método de pago: Débito</ion-label>
      </ion-item>

      <ion-item>    
        <ion-label class="i-text-capitalize">Comentario: </ion-label>
        <ion-label class="i-text-capitalize">blablabla</ion-label>
      </ion-item>

      <ion-button expand="block" color="primary" type="submit" size="small" >
        <!--[disabled]="formulario.invalid"-->
        <ion-text color="light">
          <p>Aceptar</p>
        </ion-text>
      </ion-button>
      <ion-button expand="block" color="primary" type="submit" size="small" >
        <!--[disabled]="formulario.invalid"-->
        <ion-text color="light">
          <p>Denegar</p>
        </ion-text>
      </ion-button>
    </form>
  </ion-list>
</ion-content>