<app-encabezado titulo="Listado Residencias"></app-encabezado>

<ion-content>
  
  <ion-item detail="true" routerLink="/listado-servicio">
    <ion-icon name="warning-outline" color="yellow"></ion-icon>
    <ion-label class="i-text-capitalize"> Residencia 1</ion-label>
  </ion-item>

  <ion-item detail="true" routerLink="/listado-servicio">
    <ion-icon name="checkmark-outline" color="success"></ion-icon>
    <ion-label class="i-text-capitalize"> Residencia 2</ion-label>
  </ion-item>

  <ion-item detail="true" routerLink="/listado-servicio">
    <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
    <ion-label class="i-text-capitalize"> Residencia 3</ion-label>
  </ion-item>

</ion-content>
