<app-encabezado titulo="registro usuario"></app-encabezado>

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1>Formulario</h1>
  </ion-text>

  <ion-list>
    <form #formulario="ngForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input label="Correo" required type="text" 
        labelPlacement="floating"
        [(ngModel)]="usr.username" name="username"
        placeholder="usuario"
        [clearInput]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Contraseña"  required type="password" 
        labelPlacement="floating" 
        [(ngModel)]="usr.password" name="password"
        placeholder="******"
        [clearInput]="true"></ion-input>
      </ion-item>

      <ion-list [inset]="true" style="text-align: center;">
        <ion-label style="margin-right: 32%;">Agregar residencia</ion-label>
        <ion-button (click)="agregarResidenciaAlerta()">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-item *ngFor="let residencia of residencias">	
          <ion-label>Residencia: {{residencia[0]}}</ion-label>
          <ion-icon name="close-circle-outline" (click)="eliminarResidenciaLista(residencia[0])"></ion-icon>
        </ion-item>
      </ion-list>

      <ion-button expand="block" color="primary" type="submit" size="small" >
        <!--[disabled]="formulario.invalid"-->
        <ion-text color="light">
          <p>Registrarse</p>
        </ion-text>
      </ion-button>
    </form>
  </ion-list>
</ion-content>