<app-encabezado titulo="Listado servicios admin"></app-encabezado>

<ion-content>
  
  <ion-item detail="true" routerLink="/servicio-detalle-admin">
    <ion-icon name="checkmark-outline" color="success"></ion-icon>
    <ion-label class="i-text-capitalize">Servicio 1</ion-label>
  </ion-item>

  <ion-item detail="true" routerLink="/servicio-detalle-admin">
    <ion-icon name="warning-outline" color="yellow"></ion-icon>
    <ion-label class="i-text-capitalize">Servicio 2</ion-label>
  </ion-item>

  <ion-item detail="true" routerLink="/servicio-detalle-admin">
    <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
    <ion-label class="i-text-capitalize">Servicio 3</ion-label>
  </ion-item>

</ion-content>
