<app-encabezado titulo="formulario"></app-encabezado>

<ion-content>

  <ion-item detail="true" (click)="irDetalleHistorialPago()">
    <!--routerlink="detalle-historial-pago"-->
    <ion-icon name="checkmark-outline" color="success"></ion-icon>
    <ion-label class="i-text-capitalize"> Pago 1 - 13.000 - 15/05/2018 </ion-label>
  </ion-item>

  <ion-item detail="true" (click)="irDetalleHistorialPago()">
    <!--routerlink="detalle-historial-pago"-->
    <ion-icon name="checkmark-outline" color="success"></ion-icon>
    <ion-label class="i-text-capitalize"> Pago 2 - 13.000 - 15/06/2018 </ion-label>
  </ion-item>

  <ion-item detail="true" (click)="irDetalleHistorialPagoDenegado()">
    <!--routerlink="detalle-historial-pago"-->
    <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
    <ion-label class="i-text-capitalize"> Pago 3 - 13.000 - 15/07/2018 </ion-label>
  </ion-item>

</ion-content>
