<app-encabezado titulo="login usuario"></app-encabezado>

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1>Formulario</h1>
  </ion-text>

  <ion-list>
    <form #formulario="ngForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input label="Nombre de Usuario" required type="text" 
        labelPlacement="floating"
        [(ngModel)]="usr.username" name="username"
        placeholder="usuario"
        [clearInput]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Contraseña"  required type="password" 
        labelPlacement="floating" 
        [(ngModel)]="usr.password" name="password"
        placeholder="******"
        [clearInput]="true"></ion-input>
      </ion-item>
      <ion-button expand="block" color="primary" type="submit" size="small" >
        <!--[disabled]="formulario.invalid"-->
        <ion-text color="light">
          <p>Iniciar Sesión</p>
        </ion-text>
      </ion-button>
    </form>
  </ion-list>

  <ion-label class="i-text-capitalize">¿Eres administrador? <a routerLink="/login-admin">haz click aquí</a></ion-label>

  <ion-button expand="block" color="primary" type="submit" size="small" 
  (click)="pago()">
    <!--[disabled]="formulario.invalid"-->
    <ion-text color="light">
      <p>pago prueba</p>
    </ion-text>
  </ion-button>
</ion-content>